body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 300px;
    margin: auto;
    background-image: image("logindb");
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
